<%- include partials/head.ejs %>      
<%- include partials/navbar.ejs %>      
<body>
  <iframe src="https://www.google.com/maps/d/embed?mid=1tCFRTTqDO-kgZ2AUBr1OJRA6ID2nqnx6&z=7" width="100%" height="1100"></iframe>
  <!--  first API Key:  AIzaSyA_o7HuFaHcRNmrdRY7PwBb1s9FyOZGXmw    (deprecated)
  second API key: AIzaSyDAdyZ79lemBC3DvAYCrpALxucqtEUv4Zs -->
</body>

