<link rel="stylesheet" type="text/css" href="../../styles/navbar.css">
<nav class="navbar">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/"></a>
    <form class="form-inline" method="post" action="/search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search city" aria-label="Search" name="city">
        <button class="btn search my-2 my-sm-0" type="submit">Search</button>
    </form>
    <p>
        <a href="/users/login" class ="auth">Sign in</a> or <a href="/users/register" class ="auth">Sign up</a>             
    </p>      
</nav>