<%- include partials/head.ejs %>      
<%- include partials/navbar.ejs %> 

<link rel="stylesheet" type="text/css" href="../../styles/auth.css">
<body>
    <div class="wrapper">
      <div class="row register-row">     
        <div class="col col-md-3 offset-7 register-form">
          <h4>Sign in to City Match</h4>
          <form method="post" action="/users/login">
            <div class="form-group">
                <input type="email" class="form-control form-control-lg input-block"id="exampleFormControlInput1" name="email" placeholder="email address">
              </div>
              <div class="form-group">          
                <input type="password"class="form-control form-control-lg input-block" name="password" placeholder="password" required="required">
              </div>
            <button type="submit" class="btn btn-block register"> <%= title %></button>
          </form>
        </div>
      </div>
  </div>
</body>
