<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<div class="wrapper" style="margin: 0% 0% 0% 30%">
    <h1 style="padding-left:18%;  padding-bottom: 3%; padding-top:7%; color:#8B0000; font-size:25px;">Register</h1>
    <div class="row">
    <div class="col col-md-6 offset-3">
    <form method="post" action="/users/register">
        <input type="email"  class="form-control" name="email" placeholder="email" required="required">
        <br>
        <input type="password" class="form-control" name="password" placeholder="password" required="required">
        <br>
        <input type="text" class="form-control" name="city" placeholder="city" required="required">
        <br>
        <input type="text" class="form-control" name="username" placeholder="username" required="required">
        <br>
        <input type="text" class="form-control" name="age" placeholder="age" required="required">
        <br>
        <button type="submit" class=" btn-block" style=" color: #8B0000;">Register</button>

    </form>
    </div>
    </div>
</div>
  </body>
</html>
