.favorite{
    background: url(./images/heart.png);
    width: 42px;
    height: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    margin-right: 70px;
    padding: 0;
    border: none;
    background-size: contain;
}
.favorite:hover,
.favorite:active,
.favorite-success {
    background-image: url('./images/heart-hover.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    display: inline-block;
}
.details-side{
    margin-top: 30px;
}
h3{
    width: 230px;
    display: inline-block;
    color:rgb(77,106,121);
}

.pin{
    background: url('./images/btn-pin.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    float: right;
    margin-right: 70px;
    padding: 0;
    border: none;
}
.pin:hover,
.pin:active,
.pin-success {
    background-image: url('./images/btn-pin-selected.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
}