.fav-cities{
  background-color: rgb(29, 66, 92);
  color: #fff;
  text-align: center;
}
.fav-cities h4{
  vertical-align: middle;
  font-weight: 100;
  font-size: 30px;
}
.favorite-row{
  background-color: rgb(22,66,93);
}
.col-md-4{
    padding-left: 0px;
}
.profile-section-1{
    /* height: 400px; */
    color: #fff;
    box-shadow: 1px 1px;
    background-color: rgba(29, 66, 92, 0.93);
    /* background-image: url('./images/ourcities.png'); */
}
.row .profile-section-2{
  border-bottom: rgb(29, 66, 92);
}
.recommended-cities h3{
    color:#db4437;
    font-weight: 100;
    font-size: 48px;
    text-align: center;
}
.recommended-cities p{
  text-align: center;
}
.axis {
    font: 10px sans-serif;
  }
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
 input[type="range"] {
   /* -webkit-appearance: none; */
   -webkit-appearance: slider-horizontal;
   background-color: lightgray;
   height: 12px;
   width: 400px;
   border-radius: 8px;
 }
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   position: relative;
   top: 0px;
   z-index: 1;
   width: 11px;
   height: 11px;
   cursor: pointer;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   background-color:rgb(77,106,121);
 }
 input[type="range"]:hover ~ #rangevalue,
 input[type="range"]:active ~ #rangevalue {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: -75px;
 }
 input[type="range"]:focus {
   outline: none;
 }
.section {
  padding-top: 40px;
  padding-left: 50px;
  font-weight: 300; 
}
.section input[type="radio"]{
  display: none;
}
.container {
  margin-bottom: 10px;
  /* padding-left: 75px; */
}
.container label {
  position: relative;
}
/* Base styles for spans */
.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* Radio buttons */
.container span.radio:hover {
  cursor: pointer;
}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color:lightgray;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color:rgb(77,106,121);
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #db4437;
}
button{
    background-color: #db4437;
    color: #fff;
    font-weight: 700;
}
.input-color-container {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: solid 3px rgb(77,106,121);
  border-radius: 40px;
}
.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}
.recommended-cities{
  background-color: #F1F6F9;
}
.survey-bottom{
  background-image: url(./images/london-skyline.jpg);
  background-color: #fff;
  background-position-x: center;
  height: 78px;
  width: 100%;
  background-size: contain;
}
.item{
  display: inline-block;
  /* margin-bottom: 10px; */
  margin-top: 12px;
}
.image-holder{
  width: 30%;
}
.user-details{
  margin: 0 auto;
  margin-top: 50%;  
}
.user-details .btn.compare a, 
.user-details .btn.compare a:hover, 
.user-details .btn.compare a:active {
  color: #fff;
  text-decoration: none;
}
.city-name {
  position: absolute;
  bottom: 0px; /*10px;*/
  height: 40px;
  width: 370px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(29, 66, 92,0.75);
  color: #fff;
  font-weight: 700;
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  width: 370px;
  height: 370px;
}
#overlay {
  position: relative;
  display: none;
  width:370px;
  height: 370px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 66, 92,0.5);
  z-index: 2;
  cursor: pointer;
}
.hidden-details{
  background-color: rgba(29, 66, 92,0.5);
  height: 300px;
  position: absolute;
  margin-top: -310px;
  width: 370px;
  color: #fff;
  text-align: center;
  display: none;
}
.recommended-area {
  /* width: 580px; */
  background-color: rgb(29, 66, 92);
  /* height: 250px; */
}
.recommended-item{
  margin-top:0;
  margin-bottom: 0px;
  display: inline-block;
}
.recommended-name{
  width: 290px;
  bottom: 0px;
}
.recommended-data{
  display: inline-block;
  float: right;
  color: #fff;
  margin-top: 20px;
  width: 315px;
  font-weight: 100;  
}
.recommended-cities{
  background-color: rgb(29, 66, 92);
  height: 100%;
}
/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
  min-width: 300px;
  height: 100%;
}
/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: rgb(29, 66, 92);
}