.favorite-list{
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    color: #fff;
    background-size: cover;    
}
.favorite-row{
    background-color: rgba(29, 66, 92, 0.93);
    position: sticky;
    top: 0;
    left: 0;
    width: 721px;
    height: 400px;
}
.col-md-4{
    padding-left: 0px;
}
.profile-section-1{
    height: 400px;
    color: #fff;    
    box-shadow: 1px 1px;
    background-color: rgba(29, 66, 92, 0.93);
}
.recommended-cities h3{
    color:#db4437;
}
.axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
 